body 
{
    font-family: Arial, sans-serif;
    margin-left: 2%;
    margin-top: 2%;
    background-color: #7c5cff;
}

input[type="number"], input[type="text"] 
{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 90%;
    box-sizing: border-box;
}

button 
{
    display: inline-block;
    padding: 12px 20px;
    border-radius: 8px;
    background: #0f1222;
    color: white;
    font-weight: 600;
    transition: 0.2s;
}