body 
{
    font-family: Arial, sans-serif;
    margin-top: 2%;
    margin-left: 2%;
    background-color: #7c5cff;
}

.password-container
{
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding:10px;
    background-color: #0f1222;
}

.password-display 
{
    flex-grow: 1;
    padding: 5px 10px;
    font-size: 1.1em;
    word-wrap: break-word;
    margin-right: 10px;
    background-color: 0f1222;
    min-height: 20px;
    color: white;
}

button
{
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button.save-btn
{
    background-color: #4CAF50;
}

#websiteInput
{
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #0f1222;
    color: white;
}

#storedPasswordsDiv
{
    margin-top: 30px;
    border-top: 2px solid #ccc;
    padding-top: 15px;
}

.stored-item
{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #0f1222;
    color: white;
}